<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chashabad">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chashabad"
        tools:targetApi="31">
        <activity
            android:name=".CucumberActivity"
            android:exported="false"
            android:label="@string/title_activity_cucumber"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CucumberFruitActivity"
            android:exported="false"
            android:label="@string/title_activity_fruit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CucumberFlowerActivity"
            android:exported="false"
            android:label="@string/title_activity_flower"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CucumberVineActivity"
            android:exported="false"
            android:label="@string/title_activity_vine"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CucumberSeedlingActivity"
            android:exported="false"
            android:label="@string/title_activity_seedling"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CucumberSeedActivity"
            android:exported="false"
            android:label="@string/title_activity_seed"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".MainCucumberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad"/>
        <activity
            android:name=".TomatoActivity"
            android:exported="false"
            android:label="@string/title_activity_cucumber"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".TomatoFruitActivity"
            android:exported="false"
            android:label="@string/title_activity_fruit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".TomatoFlowerActivity"
            android:exported="false"
            android:label="@string/title_activity_flower"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".TomatoVineActivity"
            android:exported="false"
            android:label="@string/title_activity_vine"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".TomatoSeedlingActivity"
            android:exported="false"
            android:label="@string/title_activity_seedling"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".TomatoSeedActivity"
            android:exported="false"
            android:label="@string/title_activity_seed"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".MainTomatoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad"/>
        <activity
            android:name=".CarrotNonRootcutActivity"
            android:exported="false"
            android:label="@string/title_activity_cucumber"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CarrotRootcutActivity"
            android:exported="false"
            android:label="@string/title_activity_fruit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CarrotActivity"
            android:exported="false"
            android:label="@string/title_activity_flower"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CarrotPlantActivity"
            android:exported="false"
            android:label="@string/title_activity_vine"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CarrotSeedlingActivity"
            android:exported="false"
            android:label="@string/title_activity_seedling"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".CarrotSeedActivity"
            android:exported="false"
            android:label="@string/title_activity_seed"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad.NoActionBar" />
        <activity
            android:name=".MainCarrotActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Chashabad"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Chashabad.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>